
#div-1{
    background-color: rgb(0, 255, 255);
    color: rgb(255, 0, 255)
}

#div-2{
    background-color: rgb(0, 255, 255);
    color: rgb(255, 0, 255)
}

#div-3{
    background-color: rgb(0, 255, 255);
    color: rgb(255, 0, 255)
}

#div-4{
    background-color: rgb(0, 255, 255);
    color: rgb(255, 0, 255)
}

#div-5{
    background-color: rgb(0, 255, 255);
    color: rgb(255, 0, 255)
}