#button-1 {
    border: 5 px red solid;
    background-color: black;
    color: yellow;
}

.p-1 {
    border: 5 px red solid;
    background-color: black;
    color: yellow;
}

.p-2 {
    color: rbg(255, 0, 255);
    background-color: rgb(0, 0, 255);
}

.p-3 {
    color: rbg(255, 0, 255);
    background-color: rgb(0, 0, 255);
}

.p-4 {
    color: rbg(255, 0, 255);
    background-color: rgb(0, 0, 255);
}

.p-5 {
    color: rbg(255, 0, 255);
    background-color: rgb(0, 0, 255);
}