

#div-1 {
    width: 100px;
    height: 100px;
    background-color: black;
}

#div-2 {
    width: 100px;
    height: 100px;
    background-color: white;
}

#div-3 {
    width: 100px;
    height: 100px;
    background-color: red;
}

#div-4 {
    width: 100px;
    height: 100px;
    background-color: orangered;
}

#div-5 {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

#div-6 {
    width: 100px;
    height: 100px;
    background-color: purple;
}

#div-7 {
    width: 100px;
    height: 100px;
    background-color: pink;
}

#div-8 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

#div-9 {
    width: 100px;
    height: 100px;
    background-color: goldenrod;
}

#div-10 {
    width: 100px;
    height: 100px;
    background-color: gold;
}
