#div1 {
    color: green;
    margin: 4px;
    padding: 50px;
    border: solid black;
}

#div2 {
    border: 3px blue;
    width: 200px;
}

#div3 {
    border-radius: 50%;
    background-color: black;
    width: 350px;
    height: 350px
}

#div4 {
    border-radius: 50%;
    background-color: green;
    width: 100px;
    height: 100px
}

#div5 {
    border-radius: 50%;
    background-color: red;
    width: 250px;
    height: 250px
}

#img-1 {
    border-left: black;
    border-right: green;
}